html, body{
    height:100%;
    font-family: "Helvetica","Helvetica Neue", Arial !important;
    color: #fff;
    /*background-color: #000 !important; */
	background: linear-gradient(to right, #4b50fb, #917488, #d17cb8);
}
p{
  color: #fff;
}
a, a:hover {
    text-decoration: none !important;
    color: #fff !important;
}


/* HOME PAGE */

#main-icon{
	cursor:pointer;
}

#icon-container{
		height:auto;
		width: auto;
}

#mobile{
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    display: block;
    background-image: url(../img/bg-mobile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* added overlay so user can zoom in on screen on mobile */
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    display: block;
}

/*background video*/
#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
  }

/*clickable areas*/

#block, #block-m{
	background-image:url("../img/shirt-border-5.png");
	background-size:97% 97%;
	background-repeat: no-repeat;
  width: 85%;
  padding-top: 45%;
  padding-bottom: 45%;
  margin-top: 21%;
  margin-right: 3%;
	cursor: pointer;
	transition: opacity .2s;
  z-index: 5;
  
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
	
}

#block-m{
  margin-top: 175%;
  padding-top: 70%;
  padding-bottom: 70%;
  margin-right: -18.5%;
}

#block:hover{
	opacity: 1;
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#block2, #block2-m{
  background-image:url("../img/tv-border-3.png");
  background-size:97% 97%;
  background-repeat: no-repeat;
  padding-top: 28%;
  padding-bottom: 28%;
  margin-left: -8%;
  margin-top: 31%;
  width: 55%;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 5;
}

#block2-m{
  margin-left: -70%;
  margin-top: -28%;
  padding-top: 35%;
  padding-bottom: 35%;
  width: 70%;
}

#block2:hover{
	opacity: 0.9;
}

@media(min-width: 0px){
  #block, #block-m{
    opacity: 1;
  }
  #block2, #block2-m{
    opacity: 0.9;
  }

  #center-1{
	position: absolute; 
	left: 50%;
  }
  #center-2{
	position: relative; 
	left: -50%;
  }
  
  #content{
	position: fixed; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	width:100px;
	z-index: 6;
  }
  #desktop, #mainVideo{
    display: none;
  }
  #mobile{
    display: block;
  }
  #main-icon{
    width: 100px;
    opacity: 0.85;
  }
}

@media(min-width: 500px){
  #block, #block-m{
    opacity: 1;
  }
  #block2, #block2-m{
    opacity: 0;
  }
  #desktop, #mainVideo{
    display: block;
  }
  #mobile{
    display: none;
  }
  #main-icon{
    width: 200px;
    opacity: 0.9;
  }
  #content{
    width:200px;
  }
}

@media(min-width: 600px){
}

@media(min-width: 768px){
  #content{
	position: absolute; 
	left: unset; 
	right: unset; 
	margin-left: unset; 
	margin-right: unset; 
  }

}



/*@ 1200, 992, 768, 576, ... mobile stuff */















